![Hand with calculator](calculator.jpg)

Did you know that the average return from investing in stocks is [10% per year](https://www.nerdwallet.com/article/investing/average-stock-market-return) (not accounting for inflation)? But who wants to be average?! 

You have been asked to support an investment firm by analyzing trends in high-growth companies. They are interested in understanding which industries are producing the highest valuations and the rate at which new high-value companies are emerging. Providing them with this information gives them a competitive insight as to industry trends and how they should structure their portfolio looking forward.

You have been given access to their `unicorns` database, which contains the following tables:

## dates
| Column       | Description                                  |
|------------- |--------------------------------------------- |
| `company_id`   | A unique ID for the company.                 |
| `date_joined` | The date that the company became a unicorn.  |
| `year_founded` | The year that the company was founded.       |

## funding
| Column           | Description                                  |
|----------------- |--------------------------------------------- |
| `company_id`       | A unique ID for the company.                 |
| `valuation`        | Company value in US dollars.                 |
| `funding`          | The amount of funding raised in US dollars.  |
| `select_investors` | A list of key investors in the company.      |

## industries
| Column       | Description                                  |
|------------- |--------------------------------------------- |
| `company_id`   | A unique ID for the company.                 |
| `industry`     | The industry that the company operates in.   |

## companies
| Column       | Description                                       |
|------------- |-------------------------------------------------- |
| `company_id`   | A unique ID for the company.                      |
| `company`      | The name of the company.                          |
| `city`         | The city where the company is headquartered.      |
| `country`      | The country where the company is headquartered.   |
| `continent`    | The continent where the company is headquartered. |

# The output

Your query should return a table in the following format:
| industry  | year | num\_unicorns       | average\_valuation\_billions |
| --------- | ---- | ------------------- | ---------------------------- |
| industry1 | 2021 |        ---          |             ---              |
| industry2 | 2020 |        ---          |             ---              |
| industry3 | 2019 |        ---          |             ---              |
| industry1 | 2021 |        ---          |             ---              |
| industry2 | 2020 |        ---          |             ---              |
| industry3 | 2019 |        ---          |             ---              |
| industry1 | 2021 |        ---          |             ---              |
| industry2 | 2020 |        ---          |             ---              |
| industry3 | 2019 |        ---          |             ---              |

Where `industry1`, `industry2`, and `industry3` are the three top-performing industries.

In [5]:
WITH CTE1 AS(
	SELECT i.industry, 
		COUNT(i.company_id) AS company_count, 
		EXTRACT(year FROM d.date_joined) AS year
	FROM industries AS i
	LEFT JOIN dates AS d
	ON i.company_id = d.company_id
	WHERE EXTRACT(year FROM d.date_joined) IN (2019, 2020, 2021)
	GROUP BY i.industry, year
	ORDER BY company_count DESC
	LIMIT 3
),
CTE2 AS(
	SELECT COUNT(i.company_id) AS num_unicorns,
			i.industry,
			EXTRACT(year FROM d.date_joined) AS year, 
			AVG(f.valuation) AS average_valuation
	FROM industries AS i
	LEFT JOIN dates AS d
	ON d.company_id = i.company_id
	LEFT JOIN funding AS f
	ON f.company_id = i.company_id
    GROUP BY i.industry, year
)
SELECT c2.industry,
		c2.year, 
		c2.num_unicorns, 
		ROUND(c2.average_valuation / 1000000000, 2) AS average_valuation_billions
FROM CTE2 AS c2
LEFT JOIN CTE1 AS c1
ON c2.industry = c1.industry AND c2.year = c1.year
WHERE c2.year IN (2019, 2020, 2021) AND c2.industry IN (SELECT c1.industry FROM CTE1 AS c1)
GROUP BY c2.industry, c2.year, c2.num_unicorns, c2.average_valuation
ORDER BY year, num_unicorns DESC

                          industry  ...  average_valuation_billions
0                          Fintech  ...                        6.80
1     Internet software & services  ...                        4.23
2  E-commerce & direct-to-consumer  ...                        2.58
3     Internet software & services  ...                        4.35
4  E-commerce & direct-to-consumer  ...                        4.00
5                          Fintech  ...                        4.33
6                          Fintech  ...                        2.75
7     Internet software & services  ...                        2.15
8  E-commerce & direct-to-consumer  ...                        2.47

[9 rows x 4 columns]

In [6]:
SELECT i.industry, 
		COUNT(i.company_id) AS company_count, 
		EXTRACT(year FROM d.date_joined) AS year
FROM industries AS i
LEFT JOIN dates AS d
ON i.company_id = d.company_id
WHERE EXTRACT(year FROM d.date_joined) IN (2019, 2020, 2021)
GROUP BY i.industry, year
ORDER BY company_count DESC
LIMIT 3;

                          industry  company_count  year
0                          Fintech            138  2021
1     Internet software & services            119  2021
2  E-commerce & direct-to-consumer             47  2021

In [7]:
	SELECT COUNT(i.company_id) AS num_unicorns,
			i.industry,
			EXTRACT(year FROM d.date_joined) AS year, 
			AVG(f.valuation) AS average_valuation
	FROM industries AS i
	LEFT JOIN dates AS d
	ON d.company_id = i.company_id
	LEFT JOIN funding AS f
	ON f.company_id = i.company_id
    GROUP BY i.industry, year
    --ORDER BY num_unicorns DESC

     num_unicorns                         industry  year  average_valuation
0               5      Mobile & telecommunications  2017       2.800000e+09
1               4     Internet software & services  2015       1.250000e+09
2              10                          Fintech  2018       8.600000e+09
3               4      Mobile & telecommunications  2019       2.000000e+09
4               1          Artificial intelligence  2012       2.000000e+09
..            ...                              ...   ...                ...
119             7  E-commerce & direct-to-consumer  2022       1.571429e+09
120             2                            Other  2015       1.000000e+09
121             4                Consumer & retail  2017       1.050000e+10
122            20                          Fintech  2019       6.800000e+09
123             1                           Travel  2022       1.000000e+09

[124 rows x 4 columns]